@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-size: 90px;
  --nav-tile-gap: 10px;
  --tile-transition: 0.35s cubic-bezier(.4,0,.2,1);
  --accent--tab: #0061FF;
}

@media screen and (max-width: 991px) {
  :root {
    --button-size: 64px;
    --nav-tile-gap: 5px;
  }
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overscroll-behavior: none;
  font-family: 'Noto Sans Mono', monospace;
}

/* Navigation animations */
.nav-container.animating-in .nav-wrapper-gridlines {
  transition: opacity 1.5s ease-in-out 0.75s;
}

.nav-container:not(.final) .nav-wrapper-gridlines {
  opacity: 1;
}

.nav-container.animating-in .home-logo-container {
  transition: width 1.5s cubic-bezier(.5,0,0.05,1) 1s,
              height 1.5s cubic-bezier(.5,0,0.05,1) 1s,
              left 1.25s cubic-bezier(.5,0,0.3,1) 1.25s,
              bottom 1.25s cubic-bezier(.5,0,0.3,1) 1.25s;
}

.nav-container.animating-in .home-logo path {
  transition: fill-opacity 0.75s ease-in-out 1.25s,
              stroke-opacity 0.5s ease-in-out 1.5s;
}

.nav-container.final .home-logo path {
  fill-opacity: 1;
  stroke-opacity: 0;
}

.nav-container.animating-in .nav-button-title-container {
  transition: opacity 1.25s ease-in-out 1.25s;
}

.nav-container:not(.final) .nav-button-title-container {
  opacity: 0;
}

/* Logo animations */
.home-logo path {
  vector-effect: non-scaling-stroke;
  stroke-dasharray: 1000 1000;
  stroke-dashoffset: 1000;
  fill: currentColor;
  fill-opacity: 0;
  stroke-width: 1px;
  stroke: var(--accent--tab);
  animation: drawIn 1.25s cubic-bezier(.4,0,.3,1) forwards 0.5s;
}

@keyframes drawIn {
  to {
    stroke-dashoffset: 0;
  }
}

/* Tile line animations */
.menu .tile-line.nav-l,
.menu .tile-line.nav-r {
  transform: translate(0, -50%) scaleY(0);
  transform-origin: center top;
  background-color: var(--accent--tab);
  height: 100vh;
}

.menu .tile-line.nav-t,
.menu .tile-line.nav-b {
  transform: translate(50%, 0) scaleX(0);
  transform-origin: right center;
  background-color: var(--accent--tab);
  width: 100vw;
}

.nav-tile.nav-tile-gridlines .tile-line {
  opacity: 0;
} 